@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }

    nav ul {
        display: block;
    }

    .icon {
        display: none;
    }


    nav ul li {
        list-style: none;
        display: inline-block;
        width: 17.5%;
        padding-top: 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: aliceblue;
        font-size: 23px;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-color: red;
    }

}